<ion-menu>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item>
          <ion-label (click)="signOut()">
            Sign Out
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>room</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="addRoom()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content main padding>
  <ion-list>
    <ion-item *ngFor="let room of rooms" (click)="joinRoom(room.key)">
      {{room.roomname}}
      <ion-icon name="chatboxes" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>